
    body {
      margin: 0;
      font-size: 28px;
      font-family: Arial, Helvetica, sans-serif;
      background-color: #dfd1d1;
    }
    
    .header {
      background-color: #000000;
      padding: 30px;
      text-align: center;
    }
    
    #navbar {
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0);
    }
    
    #navbar a {
      float:left;
      display: block;
      color: #999999;
      text-align: center;
      padding: 15px 18px;
      text-decoration: none;
      font-size: 20px;
      font-family: 'Noto Sans TC', sans-serif;
    }
    
    #navbar a:hover {
      background-color: rgba(255, 255, 255, 0);
      color: rgb(255, 255, 255);
    }
    
    #navbar a.active {
      background-color: #000000;
      color: white;
    }
    
    .content {
      padding: 16px;
    }
    
    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
    }
    
    .content {
      padding-top: 60px;
    }
    
  
    .overlay {
      height: 0%;
      width: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: rgb(0, 0, 0);
      background-color: rgba(49, 40, 40, 0.9);
      overflow-y: hidden;
      transition: 0.5s;
    }
    
    .overlay-content {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }
    
    .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #646464;
      display: block;
      transition: 0.3s;
    }
    
    .overlay a:hover, .overlay a:focus {
      color: #f1f1f1;
    }
    
    .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
    }
    .totop {
      position:relative;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgba(255, 255, 255, 0);
      color: rgb(0, 0, 0);
      text-align: right;
      
   }
   .footer {
      text-align: center;
      background: rgba(255, 255, 255, 0);
      font-family: 'Yellowtail', cursive;
      width: 100%;
      overflow: hidden;
      position: relative;
   }
  
   .copyr1 {
    text-align: center;
    background: rgba(255, 255, 255, 0);
    font-family: 'Yellowtail', cursive;
    width: 100%;
    overflow: hidden;
  }
  
    h1 {
      font-size: 50px;
      word-break: break-all;
    }
    
    .flip-box {
      background-color: transparent;
      width: 300px;
      height: 200px;
      border: 1px solid #f1f1f100;
      perspective: 1000px;
    }
    
    .flip-box-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }
    
    .flip-box:hover .flip-box-inner {
      transform: rotateY(180deg);
    }
    
    .flip-box-front, .flip-box-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    
    .flip-box-front {
      background-color: #bbb;
      color: black;
    }
    
    .flip-box-back {
      background-color: dodgerblue;
      color: white;
      transform: rotateY(180deg);
    }
     
    .column {
      float:left;
      width: 33.33%;
      padding: 10px;
      height: 300px; 
    }
    
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
   
    .signupform{
      width: 500px;
      box-shadow: 0 0 3px 0 rgba(161, 87, 130, 0.3);
      background-color: rgb(143, 82, 106);
      margin: 8.4% auto 0;
      text-align: center;
      border-radius:30px;
    }
    
    .inputbox{
      border-radius: 300px;
      padding:10px;
      margin: 10px 0;
      width: 90%;
      border: 1px solid #999;
      outline: none;
    }
    
    
    button{
      color:#fff;
      width: 90%;
      padding: 10px;
      border-radius: 20px;
      font-size: 15px;
      margin:10px 0;
      border:none;
      outline: none;
      cursor: pointer;
    }
    .signupbutton{
      background-color: #c49bae;
    
    }
    hr{
      margin-top: 20px;
      width: 90%;
    }
    .or{
      background-color: #fff;
      width: 30px;
      margin: -5px auto 10px;
    }